OGREVERSE_HOST=127.0.0.1
OGREVERSE_PORT=5178
OGREVERSE_DUEL_TIMEOUT_MS=45000
OGREVERSE_CHALLENGE_TTL_MS=30000
OGREVERSE_CHALLENGE_COOLDOWN_MS=2500
OGREVERSE_ROOM_TTL_MS=1200000
OGREVERSE_MAX_JSON_BYTES=65536
OGREVERSE_RATE_LIMIT_WINDOW_MS=10000
OGREVERSE_RATE_LIMIT_MAX=240
